body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background: url(images/trees.jpg) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.home-icon {
    position: absolute;
    top: 5vh; 
    left: 5vw; 
    display: inline-block;
}

.home-icon img {
    width: 5vw; 
    height: auto;
    cursor: pointer; 
}

.star-container {
    display: flex;
    justify-content: space-between;
    width: 60%; 
}

.star-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-item i {
    font-size: 10vw; 
    color: gold;
}

.star-item span {
    margin-top: 0.5rem;
    font-size: 1.5vw;
    color: black;
}

.star-item:nth-child(3) i {
    color: gray;
}

@media (min-width: 768px) {
    .star-container {
        width: 70%;
    }

    .star-item i {
        font-size: 7vw;
    }

    .star-item span {
        font-size: 2.5vw;
    }
}

@media (min-width: 1024px) {
    .star-container {
        width: 50%;
    }

    .star-item i {
        font-size: 5vw;
    }

    .star-item span {
        font-size: 1.5vw;
    }
}