body {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background: url(images/trees.jpg) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.star-container {
    display: flex;
    justify-content: space-between;
    width: 50%; 
}

.star-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star-item i {
    font-size: 5vw; 
    color: gold;
}

.star-item span {
    margin-top: 0.5rem;
    font-size: 1.5vw;
    color: black;
}

.star-item:nth-child(3) i {
    color: gray;
}