@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
}

body {
    background-image: url(images/map.jpg); 
    background-size: 100% 100%; /* Ensures the image is fully visible */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image both horizontally and vertically */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* Ensure the body covers the viewport height */
    height: 100vh;
    overflow: hidden; /* Hide any overflow from image */
}

/* Back arrow button styles */
.home-icon {
    position: absolute;
    top: 50px; 
    left: 60px; 
    display: inline-block;
    z-index: 1000; /* Ensure it appears above other content */
}

.home-icon img {
    width: 30px; 
    height: auto;
    cursor: pointer; /* Change cursor to pointer */
}

/* Welcome text styles */
.welcome-text {
    position: absolute;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); 
    font-size: 30px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    z-index: 1000; /* Ensure it appears above other content */
}

/* Star button styles */
.star-button {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer; /* Change cursor to pointer */
    z-index: 1000; /* Ensure it appears above other content */
}

.star-button img {
    width: 30px; 
    height: auto;
}

/* Start text styles */
.start-text {
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; /* Space between text and star button */
}